@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Dotazník spokojenosti</h1>
<hr />

@if (Model.Message != string.Empty)
{
    <div class="alert-success p-2">
        <h5>@Model.Message</h5>
    </div>

    <hr />
}

<form method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Questionnaire.Name" class="control-label"></label>
                <input asp-for="Questionnaire.Name" class="form-control" />
                <span asp-validation-for="Questionnaire.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Questionnaire.Surname" class="control-label"></label>
                <input asp-for="Questionnaire.Surname" class="form-control" />
                <span asp-validation-for="Questionnaire.Surname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Questionnaire.Rating" class="control-label"></label>
                <input asp-for="Questionnaire.Rating" class="form-control" max="5" min="1" value="3" />
                <span asp-validation-for="Questionnaire.Rating" class="text-danger"></span>
            </div>

            <button class="btn btn-primary mt-4" type="submit">Odeslat</button>

        </div>

    </div>

</form>
