@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Vítejte</h1>
    <p>Odkaz na stránky školy <a href="https://vosplzen.cz" target="_blank">VOŠ Plzeň, Ledecká</a>.</p>
</div>
